body{
    margin:0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;

}
#game-container{
position: relative;
width: 100vw;
height: 100vh;
overflow: hidden;
background-color: #87ceeb;
}
/* finn e jake*/
.player {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 165px;
    height: 300px;
}

/*  princesa  */
.princess{

    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}
.casaArvore{
    position: absolute;
    bottom: 0;
    top: 105px;
    right: -150px;
    height: 580px;
    width: 590px;
}
/* Gramado*/
.grama{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 2900px;
    height: 500px;
    top: 440px;
    background-repeat: repeat-x;
    background-size:cover;

    
}

.nuvem{
    position: absolute;
    bottom: 0;
    top: 10px;
    right: 150px;
    width: 200px;
    height: 200px;
    background-size:cover;
   

    
}
.nuvem2{
    position: absolute;
    bottom: 0;
    top: 10px;
    right: 1300px;
    width: 200px;
    height: 200px;
    background-size:cover;
   

    
}
.nuvem3{
    position: absolute;
    bottom: 0;
    top: 10px;
    right: 700px;
    width: 200px;
    height: 200px;
    background-size:cover;
   

    
}